body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fff;
    color: #333;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.auth-buttons {
    position: absolute;
    top: 10px;
    left: 10px;
}

.auth-buttons button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-right: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.auth-buttons button:hover {
    background-color: #555;
}

header h1 {
    font-size: 36px;
}

.menu-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #333;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 1000;
}

.sidebar.active {
    width: 250px;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.sidebar nav ul li {
    padding: 8px 16px;
}

.sidebar nav ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
}

.sidebar nav ul li a:hover {
    background-color: #575757;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

.search-bar {
    position: absolute;
    top: 10px;
    right: 10px;
}

.search-bar input[type="text"] {
    padding: 5px;
    width: 200px;
}

.search-bar button {
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #555;
}

header nav {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li a {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: #333;
    text-decoration: none;
}

nav {
    margin-top: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 0;
}

.welcome-image {
    position: relative;
    text-align: center;
}

.welcome-to-our-company {
    position: relative;
    text-align: center;
}

.projects {
    position: relative;
    text-align: center;
}

.projects .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5; /* Ajuste a opacidade conforme necessário */
}


.contact {
    position: relative;
    text-align: center;
    padding: 50px 20px;
}

.contact .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5; /* Ajuste a opacidade conforme necessário */
}

.contact-form-container {
    background-color: rgba(255, 255, 255, 0.8); /* Fundo branco semitransparente */
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: auto;
}

.contact-info {
    margin-bottom: 20px;
}


.contact-form-container h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group input:focus,
.form-group textarea:focus {
    outline: none;
    border-bottom: 1px solid #555; /* Ajustar a espessura para 1px */
}

input[type="text"],
input[type="email"],
textarea {
    border: none;
    border-bottom: 2px solid #333;
    border-radius: 0;
    padding-left: 0;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    outline: none;
    border-bottom: 2px solid #555;
}

button[type="submit"] {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #555;
}

.welcome-image img,
.welcome-to-our-company img,
.projects img,
.contact img {
    width: 100%;
    height: auto;
}

.welcome-image h1.title,
.welcome-image p.sub-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.welcome-image h1.title {
    font-size: 72px;
}

.welcome-image p.sub-title {
    font-size: 36px;
}

section h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

section#home .sub-title {
    top: 70%;
    font-size: 36px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}


.carousel-container {
    position: relative;
    width: 80%;
    margin: auto;
    overflow: hidden;
    z-index: 1; 
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 25%;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;

    background-color: rgba(255, 255, 255, 0.8); /* Adicione um fundo semitransparente aos itens */
    border-radius: 10px;
}

.carousel-item img {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 2;
}

.carousel-button.left {
    left: 10px;
}

.carousel-button.right {
    right: 10px;
}

.carousel-item p {
    margin: 5px 0;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}


/* Tamanho base do título */
section#projects h2 {
    font-size: 2em; /* Tamanho padrão do título */
    margin-bottom: 20px; /* Espaço abaixo do título */
}

/* Media query para telas maiores */
@media (min-width: 768px) {
    section#projects h2 {
        font-size: 2.5em; /* Aumenta o tamanho do título para telas maiores */
    }
}

@media (min-width: 1024px) {
    section#projects h2 {
        font-size: 3em; /* Aumenta ainda mais o tamanho do título para telas muito grandes */
    }
}

@media (min-width: 1440px) {
    section#projects h2 {
        font-size: 3.5em; /* Aumenta ainda mais o tamanho do título para telas muito grandes */
    }
}
