body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fff;
    color: #333;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

header h1 {
    font-size: 36px;
}

.menu-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #333;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 1000;
}

.sidebar.active {
    width: 250px;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.sidebar nav ul li {
    padding: 8px 16px;
}

.sidebar nav ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
}

.sidebar nav ul li a:hover {
    background-color: #575757;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

.search-bar {
    position: absolute;
    top: 10px;
    right: 10px;
}

.search-bar input[type="text"] {
    padding: 5px;
    width: 200px;
}

.search-bar button {
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #555;
}

header nav {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li a {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: #333;
    text-decoration: none;
}

nav {
    margin-top: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 0;
}

.welcome-image {
    position: relative;
    text-align: center;
}

.welcome-to-our-company {
    position: relative;
    text-align: center;
}

.projects {
    position: relative;
    text-align: center;
}

.contact {
    position: relative;
    text-align: center;
}

.welcome-image img,
.welcome-to-our-company img,
.projects img,
.contact img {
    width: 100%;
    height: auto;
}

.welcome-image h1.title,
.welcome-image p.sub-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.welcome-image h1.title {
    font-size: 72px;
}

.welcome-image p.sub-title {
    font-size: 36px;
}

section h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

section#home .sub-title {
    top: 70%;
    font-size: 36px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
